<template name="ResetPassword">
	<div class="container">
		<form id="reset_password_form" class="account-form" role="form">
			<h2>
				Passwort zurücksetzen
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="new_password" type="password" class="form-control" placeholder="Neues Passwort" required autofocus>
			<input id="new_password_confirm" type="password" class="form-control" placeholder="Passwort bestätigen" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Bitte warten...">
				Submit
			</button>
		</form>
	</div>
</template>

