<template name="Login">
	<div class="container">
		<form id="login_form" class="account-form" role="form">
			<h2>
				Bitte anmelden	
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<div id="login-with-password" style="padding-top: 10px;">
				<input id="login_email" type="text" class="form-control" placeholder="Email address" required autofocus>
				<input id="login_password" type="password" class="form-control" placeholder="Password" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Bitte warten...">
					Anmelden	
				</button>
				<p class="account-form-text-after" id="register-link">
					Noch kein Zugang?
					<a href="{{pathFor 'register'}}">
						Registrieren
					</a>
				</p>

				<p class="account-form-text-after" id="forgot-password-link">
					Passwort vergessen?
					<a href="{{pathFor 'forgot_password'}}">
						Zurücksetzen
					</a>

				</p>
			</div>
		</form>
	</div>
</template>

